<html>
<body>

<%= form_for @trip do |f| %>
 
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this trip from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <%= render 'layouts/header' %>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
      
      <h1 alighn="left">
        <%= f.label :place %>
      </h1>
      <h2><%= f.text_field :place %></h2>
      <%= yield %>
      <p>
        <%= f.submit %>
      </p>
    </div>
  </body>
  <!-- <p>
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </p> -->
<!--   <div class="field">
    <%= f.label :place %><br />
    <%= f.country_select :place, {priority: %w(US CA), prompt: 'Please select a country'} %>
  </div>

  <div class="field">
  <%= f.label :place %><br />
  <%= render partial: 'subregion_select', locals: {parent_region: f.object.place} %>
</div>
 -->
  
  
</html>
  <!--  -->
<% end %>