<html>
<body>

<%= form_for @trip do |f| %>
 
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@trip.errors.count, "error") %> prohibited
        this trip from being saved:
      </h2>
      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <%= render 'layouts/header' %>
    
      
      
      <h3><%= f.label :place %></h3>
      
      <p><%= f.text_field :place %></p>
      <%= yield %>
    
      <p><%= f.submit :Create %></p>
    
  </body>

  
  
</html>
  <!--  -->
<% end %>