<% provide(:title, "New Trip") %>

<<<<<<< HEAD
<%= render 'layouts/header' %>
<%= render 'form' %>

=======

<!-- <h1>New Trip</h1> -->


<%= render 'form' %>

<!-- 
# <%= link_to 'Home', root_path %>
# <%= link_to 'Current Trips', trips_path %> -->
>>>>>>> f9ea994bf76f51607928865ff8293602d00e667c
